body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #eee;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #444;
  border: 3px solid #eee;
  display: block;
  margin: 20px auto;
}

